<div class="ui grid">
  <div class="row">
    <div id="chats" class="four wide column chat-log">
      <div class="row chat-log-header">
        <p class="chat-log-header-paragraph"><span>Recent Chats<span></p>
      </div>



    </div>


    <div id="messages" class="twelve wide column messages-log">

    </div>
  </div>
</div>
