<div class="ui grid">
  <div class="row main-content-row">
    <div id="chats" class="four wide column chat-log">
      <div class="row chat-log-header">
        <i class="setting icon"></i>
        <p class="chat-log-header-paragraph"><span>huddle.<span></p>
        <i class="plus icon"></i>
      </div>
    </div>


    <div id="messages" class="twelve wide column messages-log">
      <div class="row huddle-header">

      </div>

      <div class="row huddle-content">

      </div>

      <div class="row huddle-message ui input">
        <input type="text" placeholder="Write message to huddle...">
      </div>

    </div>
  </div>
</div>
