<html ng-app="huddleApp">
  <head>
    <title>Huddle.</title>

    <link rel='stylesheet' href='stylesheets/css/style.css' />
    <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script src="scripts/init.js"></script>
    <script src="scripts/auth.js"></script>
    <script src="scripts/msg.js"></script>
    <script src="scripts/huddle.js"></script>
    <script src="scripts/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-messaging.js"></script>
    <link rel="manifest" href="manifest.json">
  </head>
  <body ng-controller="mainController">

    <div class="ui grid">
      <div class="row main-content-row">
        <div id="chats" class="four wide column chat-log">
          <div class="row chat-log-header">
            <i class="settings icon"></i>
            <p class="chat-log-header-paragraph"><span>huddle.<span></p>
            <i ng-click="isCreatingHuddle = !isCreatingHuddle" ng-class="{clicked: isCreatingHuddle}" class="plus square outline icon"></i>
          </div>

          <div class="row chat-log-content">

            <div class="ui relaxed items">

              <div ng-repeat="huddle in nearbyHuddles" class="item huddle" ng-click="viewHuddleChat(huddle.id)">
                <div class="ui tiny image">
                  <div class="led-green"></div>
                </div>
                <div class="middle aligned content">
                  <a class="header">{{huddle.name}}</a>
                  <div class="huddle-context">
                    <span>
                      <p>
                        <span class="numUsers"><i class="user icon"></i> {{huddle.numOfUsers}}</span>
                        <span class="creationDate"><i class="calendar outline icon"></i>{{huddle.dateCreated | date:'MMM d'}}</span>
                      </p>
                    </span>
                  </div>
                </div>
              </div>


              <div ng-show="isCreatingHuddle" class="huddle-name-input ui input">
                <input type="text" ng-class="{editing: isCreatingHuddle}" ng-model="newHuddleName" placeholder="Enter huddle name..." ng-keypress="($event.charCode==13)?saveHuddle():return">
              </div>
            </div>
          </div>


        </div>


        <div id="messages" class="twelve wide column messages-log">
          <div class="row huddle-header">
            <p class="huddle-header-paragraph">Cosmopolitan Park</p>
          </div>

          <div class="row huddle-content ui comments">

              <!-- Example message in chat  -->
              <!-- TODO: Make dynamic according to firebase  -->

                <div ng-repeat="message in messages" ng-class="{me: message.sender == username, comment: true}" >
                  <div class="comment-content">
                    <div class="content">
                      <div ng-if="(message.sender != messages[$index - 1].sender)" class="info">
                        <a class="author">{{message.sender}}</a>
                        <div class="metadata">
                          <span class="date">{{message.dateSent | date:'shortTime'}}</span>
                        </div>
                      </div>
                      <div class="text">
                        {{message.content}}
                      </div>
                    </div>
                  </div>
                </div>

          </div>

          <div class="row huddle-message ui input">
            <input type="text" placeholder="Write message to huddle..." ng-keypress="($event.charCode==13)?sendMessage():return" ng-model="currentMessage">

            <button ng-click="sendMessage()" class="ui button send"><span><i class="send outline icon"></i></span></button>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
