<div class="ui grid">
  <div class="row">
    <div id="chats" class="four wide column chat-log">
      <div class="row chat-log-header">
        <i class="setting icon"></i>
        <p class="chat-log-header-paragraph"><span>huddle.<span></p>
        <i class="plus icon"></i>
      </div>
    </div>
    <div id="messages" class="twelve wide column messages-log">
    </div>
  </div>
</div>
