<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/css/style.css' />
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyB1Fvs-hHHZtN3JVU3iG7lL9JaU5vR180o",
        authDomain: "huddle-685b2.firebaseapp.com",
        databaseURL: "https://huddle-685b2.firebaseio.com",
        projectId: "huddle-685b2",
        storageBucket: "huddle-685b2.appspot.com",
        messagingSenderId: "66066916355"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-messaging.js"></script>
    <script>
      navigator.geolocation.getCurrentPosition(function(position) {
        alert(position.coords.latitude + position.coords.longitude);
      });
    </script>
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
