body {
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  color: #00B7FF;
}

.ui.grid{
  height:100%;
}

.chat-log-header{
  text-align: center;
  height:50px;
  border-bottom: 1px solid #efefef;
}

.setting.icon{
  float: left;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 20px;
}

.plus.icon{
  float: right;
  position: absolute;
  top: 15px;
  right: 10px;
font-size: 20px;
}

.chat-log-header-paragraph{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    font-size: 20px;
}

.chat-log{
  background-color: #fff;
  border-right-color: #efefef;
  border-right-style: solid;
  border-right-width:1px;

}

.messages-log{
    /*background-color: #efefef;*/
}

.huddle-header{
  height:50px;
  border-bottom: 1px solid #efefef;
}


.ui.grid > .row > .column{
  padding-left:0 !important;
  padding-right:0 !important;
}
